.Main {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #FFF;
}

.ProjectDiv {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

}

.Project {
    position: relative;
    height: 19.78vw;
    width: 19.78vw;
}

.ExpandedProject {
    position: relative;
    -webkit-animation-name: expand;
    animation-name: expand;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    overflow: hidden;
    border: 3px solid #5f7ea2;
    border-radius: 25px;
}

.Closing {
    position: relative;
    animation-name: flatten;
    -webkit-animation-name: flatten;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    overflow: hidden;
    border: 1px solid #5f7ea2;
}

@media only screen and (max-width: 599px) {
    .ProjectDiv {
        width: 100%;
        padding-top: 20vh;
    }
    .Project {
        height: 50vw;
        width: 50vw;
    }
    .ExpandedProject {
        -webkit-animation-name: mobileExpand;
        animation-name: mobileExpand;
    }
    .Closing {
        animation-name: mobileFlatten;
        -webkit-animation-name: mobileFlatten;
    }
}

@keyframes expand {
    0% {
        height: 20vw;
        width: 20vw;
        border: 1px solid #5f7ea2;
        border-radius: 0;
    }
    100% {
        height: 70vh;
        width: 100vw;
        border: 3px solid #5f7ea2;
        border-radius: 25px;
    }
}

@keyframes flatten {
    0% {
        width: 100vw;
        height: 70vh;
        border: 3px solid #5f7ea2;
        border-radius: 25px;
        opacity: 1;
    }
    100% {
        width:20vw;
        height: 20vw;
        border: 1px solid #5f7ea2;
        border-radius: 0;
        opacity: .1;
    }
}

@keyframes mobileExpand {
    0% {
        height: 50vw;
        width: 50vw;
        border: 1px solid #5f7ea2;
        border-radius: 0;
    }
    100% {
        height: 85vh;
        width: 100vw;
        border: 3px solid #5f7ea2;
        border-radius: 25px;
    }
}

@keyframes mobileFlatten {
    0% {
        width: 100vw;
        height: 85vh;
        border: 3px solid #5f7ea2;
        border-radius: 25px;
        opacity: 1;
    }
    100% {
        width: 50vw;
        height: 50vw;
        border: 1px solid #5f7ea2;
        border-radius: 0;
        opacity: .1;
    }
}