.Bold {
    color: #BBB;
    font-weight: 600;
    opacity: 1;
}

.Project {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
    -ms-overflow-style: none;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
    padding: 0 1vw;
}

.ProjectDiv {
    overflow-y: auto;
}

.ImageDiv {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: .5vw 1.5vw;
    float: right;
}

.ProjectName {
    font-weight: 700;
    font-size: 2vw;
    color: #AAA;
}

.ProjectDescription, .List {
    font-size: 1vw;
    color: var(--main-color);
    text-shadow: none;
}

.List {
    list-style-position: inside;
    padding-left: 0;
    padding-bottom: 1vh;
}

.InnerList {
    list-style-position: inside;
    padding-left: 1.5vw;
}

.InnerList li, .List li {
    margin-bottom: 5px
}

.Image {
    width: 100%;
    border-radius: 5px;
}

.GooglePlay {
    width: 40%;
}

.Buttons {
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CloseButton {
    transition: opacity 5s ease-in-out;
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 1vw;
    height: .8vw;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: .2vw;
    cursor: pointer;
}

.CloseButton:hover {
    content:url('../../assets/arrows/upArrowHover.png');
    background-color: var(--main-color);
}


@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .ProjectName {
        font-size: 3.5vw;
    }

    .ProjectDescription, .List {
        font-size: 2.7vw;
    }
}