.Bold {
    color: var(--accent-color);
    font-weight: 600;
    opacity: 1;
}

.Project {
    border: 1px solid var(--main-color);
    margin: 1% auto;
    width: 98%;
    background-color: rgba(233, 240, 243,.8);
}

.ProjectDiv {
    margin: 3% 0 3% 3%;
    width: 100%;
}

.ImageDiv {
    width: 50%;
    margin: .5vw 5%;
    float: right;
}

.ProjectName {
    font-weight: 700;
    font-size: 2vw;
    margin: 1% 1% 2% 2%;
    color: var(--accent-color);
}

.ProjectDescription, .List {
    margin: 5% 4% 1% 2%;
    font-size: 1.2vw;
    color: var(--main-color);
    text-shadow: none;
}

.List {
    list-style-position: inside;
    padding-left: 0;
}

.InnerList {
    list-style-position: inside;
    padding-left: 1.5vw;
}

.InnerList li, .List li {
    margin-bottom: 5px
}

.Image {
    width: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .ProjectName {
        font-size: 3vw;
    }

    .ProjectDescription, .List {
        font-size: 2vw;
    }
}