.FlexRow {
    display: flex;
    flex-flow: row;
    margin: 1% auto;
    justify-content: space-between;
    padding: 2%;
}

.Bold {
    color: var(--accent-color);
    font-weight: 600;
    opacity: 1;
}

.Project {
    border: 1px solid var(--main-color);
    margin: 1% auto;
    width: 98%;
    background-color: rgba(233, 240, 243,.8);
}

.ProjectDiv {
    width: 50%;
}

.ProjectName {
    font-weight: 700;
    font-size: 2vw;
    margin: 1% 1% 2% 2%;
    color: var(--accent-color);
    text-shadow: 1px 1px 1px var(--hover-color);
}

.ProjectDescription {
    margin: 5% 4% 1% 2%;
    font-size: 1.2vw;
    color: var(--main-color);
    text-shadow: none;
}

.Image {
    width: 100%;
    padding-top: 15px;
    border-radius: 5px;
}