.Grid {
    margin: 3% auto;
    width: 90%;
}

.FlexRow {
    display: flex;
    flex-flow: row;
    height: 300px;
    margin: 3% auto;
    justify-content: center;
}

.Statement {
    font-family: 'Sunflower', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3vw;
    margin-top: 10px;
    opacity: 0.8;
    color: #003366;
    line-height: 3vw;
}

.Statement {
    padding-top: 6%;
    line-height: 50px;
}

.bold {
    color: var(--accent-color);
    font-weight: 700;
    opacity: 1;
}

.Image, .CloudImage, .YearsImage {
    height: 300px;
    line-height: 300px;
    border-radius: 25px;
    margin: 0 2%;
}

.CloudImage {
    box-shadow: 5px 5px var(--main-color);
}

@media only screen and (max-width: 1440px) {
    .FlexRow {
        height: 150px;
        margin-top: 6%;
    }
    .Image, .CloudImage, .YearsImage {
        height: 150px;
        line-height: 150px;
    }
    .CloudImage, .YearsImage {
        margin-top: 4%;
    }
}

@media only screen and (max-width: 499px) {
    .FlexRow {
        height: 100px;
        margin-top: 10%;
    }
    .Image, .CloudImage, .YearsImage {
        height: 100px;
    }
    .Statement {
        line-height: 20px;
    }

}