.MainNavigation {
    height: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 0;
}

.LabelDiv {
    margin: 0 auto;
    height: 30vh;
    width: 80%;
    position: relative;
    background-color: #fff;
    border: 1px solid white;
}

.Label, .AnimateLabel {
    color: #5f7ea2;
    text-align: center;
    font-size: 4vw;
}

.ButtonDiv, .NavButtonDiv {
    padding-top: 2vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FFF;
}

.NavButtonDiv {
     margin: 0 auto;
    padding: 2vh 0 5vh;
 }

.AnimateLabel {
    animation-name: changeLabel;
    animation-duration: 1.2s;
}

@keyframes changeLabel {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1367px) {
    .Footer p {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 599px) {
    .MainNavigation {
        height: 80vh;
    }
    .LabelDiv {
        height: 18vh;
    }
    .Label, .AnimateLabel {
        font-size: 6.5vw;
    }
    .Footer p {
        font-size: 2.5vw;
    }
}