.MainNavigation {
    height: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 0;
}

.LabelDiv {
    margin: 0 auto;
    height: 30vh;
    width: 80%;
    position: relative;
    background-color: #fff;
    border: 1px solid white;
}

.Label {
    color: #0f3460;
    text-align: center;
    font-size: 4vw;
}

.ButtonDiv, .NavButtonDiv {
    padding-top: 3vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #fff;
}

.NavButtonDiv {
     margin: 0 auto;
    padding: 2vh 0 5vh;
 }

@media only screen and (max-width: 599px) {
    .MainNavigation {
        height: 80vh;
    }
    .LabelDiv {
        height: 18vh;
    }
    .Label {
        font-size: 6.5vw;
    }
    .Footer p {
        font-size: 2.5vw;
    }
}