.Main {
    margin-top: 60px;
    text-align: center;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
}

.FlexRow {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.Pages {
    width: 100%;
    color: #1c4f62;
    font-size: 3.5vw;
}

.PageButton {
    margin: 0 2vw;
    height: 4vw;
    width: 4vw;
    border-radius: 4vw;
}
