.Main {
    padding-top: 16vh;
    width: 100%;
    text-align: center;
    background-color: #FFF;
}

.PdfDoc {
    width: 75vw;
    height: 80vh;
    border: 3px solid #5f7ea2;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

.FlexRow {
    margin: 0 auto;
    width: 20vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Pages {
    width: 100%;
    color: #5f7ea2;
    font-size: 2vw;
}

.BackArrow, .NextArrow {
    color: #5f7ea2;
    font-size: 1.5vw;
    width: 1vw;
    height: 1vw;
    line-height: 1vw;
    padding: .25vw;
    border: 1px solid #5f7ea2;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.ButtonDiv {
    text-decoration: none;
    margin: 0 auto;
    padding-top: 2vh;
    width: 80vw;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FFF;
}

.BackArrow:hover {
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #5f7ea2;
}

.NextArrow:hover {
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #5f7ea2;
}


@media only screen and (max-width: 599px) {
    .Main {
        padding-top: 20vh;
    }
    .PdfDoc {
        width: 95vw;
        height: 100vh;
        border: none;
    }
    .FlexRow {
        width: 40vw;
    }
    .Pages {
        font-size: 4vw;
    }
    .ButtonDiv {
        width: 80vw;
    }
    .BackArrow, .NextArrow {
        font-size: 4vw;
        width: 4vw;
        height: 4vw;
        line-height: 4vw;
        padding: .5vw;
    }
}