.Main {
    margin: 72px auto;
    width: 80%;
    height: 100%;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
}

.Header {
    margin: 3%;
    color: #1c4f62;
    font-size: 5vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2), 0 -5px 35px rgba(255,255,255,0.3);
}

.Grid {
    margin: 3% auto;
    width: 90%;
}

.FlexRow {
    display: flex;
    flex-flow: row;
    height: 100%;
    margin: 1% auto;
    justify-content: center;
}

.bold, .Topic {
    color: #c15435;
    font-weight: 700;
    opacity: 1;
}

.FirstLetter {
    color: #1c4f62;
    font-weight: 700;
    font-size: 1.7vw;
}

.Text {
    font-size: 1vw;
}

.Topic {
    font-size: 1.5vw;
}

.Image, .TravelImage, .ProgrammingImage {
    border-radius: 25px;
    margin: 0 2%;
    -ms-interpolation-mode: bicubic;
    height: 20vw;

}

.TravelImage {
    margin: 3% 2%;
}

.ProgrammingImage {

    margin: 6% 2%;
}

@media only screen and (max-width: 1024px) {
    .Main {
        margin: 52px 0 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .Header {
        font-size: 8vw;
    }
    .FirstLetter {
        font-size: 2.7vw;
    }

    .Text {
        font-size: 2vw;
    }

    .Topic {
        font-size: 2.5vw;
    }
    .Image {
        margin: 10% 3% 3% 3%;
    }
    .TravelImage, .ProgrammingImage {
        margin: 20% 3% 3% 0;

    }
}

@media only screen and (max-width: 499px) {
    .Main {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .Header {
        font-size: 10vw;
    }
    .FirstLetter {
        font-size: 2.7vw;
    }

    .Text {
        font-size: 2vw;
    }

    .Topic {
        font-size: 2.5vw;
    }
    .Image {
        margin: 5% 0 5% 3%;
        width: 50%;
        height: 150px;

    }

    .TravelImage, .ProgrammingImage {
        margin: 25% 3% 3% 0;
        width: 50%;
        height: 150px;
    }
}