.Main {
    padding: 15vh 0;
    background-color: #fff;
}

.Grid {
    margin: 0 auto;
    width: 80%;
}

.FlexRow {
    display: flex;
    flex-flow: row;
    height: 100%;
    padding: 1% auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Topic {
    font-family: inherit;
    color: #BBB;
    font-weight: 700;
    opacity: 1;
}

.FirstLetter {
    color: #1c4f62;
    font-weight: 700;
    font-size: 1.7vw;
    font-family: inherit;
}

.Text {
    font-family: inherit;
    color: #779ecb;
    font-size: 1vw;
    overflow: hidden;
}

.Topic {
    font-size: 1.5vw;
}

.Image, .TravelImage, .ProgrammingImage {
    border-radius: 25px;
    margin: 0 2%;
    -ms-interpolation-mode: bicubic;
    height: 20vw;

}

@media only screen and (max-width: 1024px) {
    .Main {
        margin: 52px 0 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .FirstLetter {
        font-size: 2.7vw;
    }
    .Text {
        font-size: 2vw;
    }
    .Topic {
        font-size: 2.5vw;
    }
    .Image {
        margin: 10% 3% 3% 3%;
    }
}

@media only screen and (max-width: 499px) {
    .Main {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .FirstLetter {
        font-size: 2.7vw;
    }
    .Text {
        font-size: 2vw;
    }
    .Topic {
        font-size: 2.5vw;
    }
    .Image {
        margin: 5% 0 5% 3%;
        width: 50%;
        height: 150px;
    }
}