.Main {
    padding: 15vh 0;
    background-color: #fff;
}

.Grid {
    margin: 0 auto;
    width: 80%;
}

.FlexRow, .FlexRowReverse {
    display: flex;
    flex-flow: row;
    height: 100%;
    padding: 1% auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Topic {
    font-family: inherit;
    color: #AAA;
    font-weight: 700;
    opacity: 1;
    font-size: 1.5vw;
}

.FirstLetter {
    color: #1c4f62;
    font-weight: 700;
    font-size: 1.7vw;
    font-family: inherit;
}

.Text {
    width: 40vw;
    font-family: inherit;
    color: #5f7ea2;
    font-size: 1vw;
}

.ImageDiv {
    margin: 1vh 2vw;
}

.Image {
    border-radius: 25px;
    width: 30vw;
}

@media only screen and (max-width: 1024px) {
    .Main {
        margin: 52px 0 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .FirstLetter {
        font-size: 2.7vw;
    }
    .Text {
        font-size: 2vw;
    }
    .Topic {
        font-size: 2.5vw;
    }
    .Image {
        margin: 10% 3% 3% 3%;
    }
}

@media only screen and (max-width: 499px) {
    .FlexRowReverse {
        flex-flow: column-reverse;
    }
    .FlexRow {
        flex-flow: column;
    }
    .FirstLetter {
        font-size: 3.5vw;
    }
    .Text {
        width: 100%;
        font-size: 3vw;
    }
    .Topic {
        font-size: 4vw;
    }
    .Image {
        width: 75vw;
    }
}