.Button {
    background-color: var(--main-color);
    border: none;
    color: var(--accent-color);
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    width: 100px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}