.Main {
    padding: 12vh 0;
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
}

.Form {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
}

.FormInput, .FormMessage, .FormError, .FormMessageError {
    width: 50%;
    height: 4%;
    margin: 0 auto 1vh;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    padding: 1.5vh 1.5vw;
    font-size: 1vw;
    font-family: inherit;
    color: var(--main-color);
    outline: none;
}

.FormMessage, .FormMessageError {
    width: 100%;
    height: 20vh;
    resize: none;
}

.FormError, .FormMessageError {
    background-color: #ffe5e5;
}

.Button {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.LogoDiv {
    width: 100%;
    text-align: center;
}

.Logo {
}

.FlexRow {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0 auto;
    padding: 4vh 0;
}

.FacebookIcon, .LinkedInIcon, .PhoneIcon {
    border-radius: 100%;
    margin: 0 5vw;
    width: 20%;
}

.FacebookIcon:hover {
    box-shadow: 0 0 10px 15px rgb(59, 89, 152);
}
.LinkedInIcon:hover {
    box-shadow: 0 0 10px 15px rgb(0, 127, 177);
}
.PhoneIcon:hover {
    box-shadow: 0 0 10px 15px rgb(207, 117, 56);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BBB;
    opacity: .7; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BBB;
}

@media only screen and (max-width: 1280px) {
    .Main {
        margin: 52px 0 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .FlexRow {
        display: flex;
        flex-flow: column;
        margin: 3% auto 1%;
        justify-content: flex-start;
        padding: 2%;
    }
}