.Main {
    padding: 16vh 0;
    margin: 0 auto;
    width: 100%;
    background-color: #d5dde2;
}

.Form {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
}

.FormInput, .FormMessage, .FormError, .FormMessageError {
    width: 50%;
    height: 4%;
    margin: 0 auto 1vh;
    border: 1px solid #0f3460;
    border-radius: 25px;
    padding: 1.5vh 1.5vw;
    font-size: 1vw;
    font-family: inherit;
    color: #0f3460;
    outline: none;
    transition: all 500ms ease-in-out;
    background-color: #fcfcfc;
}

.FormMessage, .FormMessageError {
    width: 90%;
    height: 20vh;
    resize: none;
}

.FormError, .FormMessageError {
    background-color: #ffe5e5;
}

.FormInput:hover, .FormMessage:hover {
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 2px 2px #0f3460;
}

.Button, .MailButton {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.MailButton {
    width: 80%;
}

.Sent {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #0f3460;
}

.View {
    padding-top: 5vh
}

.LogoDiv {
    width: 100%;
    margin: 0 auto 2vh;
    text-align: center;
}

.Logo {
    border-radius: 100%;
    width: 10vw;
}

.Icons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 4vh 0;
}

.SocialIcon {
    border-radius: 100%;
    margin: 0 5vw;
    width: 20%;
}

.ContactRow {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.ContactDiv {
    margin: 5vh 0 10vh;
}

.ContactRow p {
    color: #0f3460;
    padding: 0 2vw;
    font-size: 1.5vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: .9; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

@media only screen and (max-width: 1280px) {
    .Main {
        padding-top: 20vh;
        margin: 52px 0 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .Icons {
        padding: 2vh 0;
    }

    .SocialIcon {
        width: 30%;
    }

    .Logo {
        width: 20vw;
    }

    .ContactRow p {
        font-size: 4vw;
    }

    .MailButton {
        width: 100%;
    }

    .Form {
        width: 90vw;
    }

    .FormInput, .FormMessage, .FormError, .FormMessageError {
        width: 80%;
        margin: 0 auto 2vh;
        border: 1px solid #0f3460;
        border-radius: 25px;
        padding: 1.5vh 1.5vw;
        font-size: 3.5vw;
        font-family: inherit;
        color: #0f3460;
        outline: none;
        transition: all 500ms ease-in-out;
    }

    .FormMessage, .FormMessageError {
        width: 90%;
        height: 40vh;
    }

    .Button {
        width: 80%;
    }

    ::placeholder {
        padding-left: 1.5vw;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        padding-left: 1.5vw;
    }
}