.WelcomeImage, .WelcomeImageColored {
    height: 85vh;
    width: 100%;
}

.WelcomeImage {
    background: url('../../assets/backgrounds/welcomeImage.jpg') no-repeat fixed top right;
    background-size: cover;
    position: relative;
    z-index: -3;
}

.WelcomeImageColored {
    background: url('../../assets/backgrounds/welcomeImageColored.jpg') no-repeat fixed top right;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.Intro{
    position: fixed;
}

.Hello {
    font-size: 5vw;
    font-weight: bold;
    color: #FFF;
    margin: 15vh 0 0 5vw;
}

.Description{
    width: 0;
    color: #FFF;
    font-size: 2.5vw;
    margin: 2vh 0 0 8vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-align: start;
    position: relative;
    z-index: -1;
}

.Bold {
    color: #CCC;
    font-weight: 900;
}

.ScrollDivContainer {
    width: 100%;
    height: 16vh;
    position: relative;
    background-color: #fff;
    z-index: 0;
}

.ScrollDiv {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 4vh 0;
    width: 20vw;
    text-align: center;
    position: relative;
    background-color: #fff;
    z-index: 0;
}

.ScrollDiv img {
    margin: 0 auto;
    width: 10%;
}


@media only screen and (max-width: 1367px) {
    .WelcomeImage, .WelcomeImageColored {
        background-attachment: scroll;
        height: 80vh;
        width: 100%;
    }
    .Intro{
        position: absolute;
        top: 5vw;
        left: 5vw;
        z-index: -1;
    }
    .Hello {
        margin:0;
        font-size: 6vw;
    }
    .Description {
        margin: 4vh 0 0 6vw;
    }
    .ScrollDiv {
        width: 30vw;
    }
}

@media only screen and (max-width: 599px) {
    .WelcomeImage, .WelcomeImageColored {
        height: 80vh;
        width: 100%;
        background-attachment: scroll;
    }
    .Intro{
        position: absolute;
        top: 3vw;
        left: 3.5vw;
        z-index: -1;
    }
    .Hello {
        margin:0;
    }
    .Description {
        margin: 2.5vh 0 0 .5vw;
        font-size: 3.5vw;
    }
    .ScrollDivContainer {
        height: 12vh;
    }
    .ScrollDiv {
        width: 60vw;
    }
}