.WelcomeImage, .WelcomeImageColored {
    height: 85vh;
    width: 100%;
}

.WelcomeImage {
    background: url('../../assets/main/welcomeImage.jpg') no-repeat fixed top right;
    background-size: cover;
    position: relative;
    z-index: -3;
}

.WelcomeImageColored {
    background: url('../../assets/main/welcomeImageColored.jpg') no-repeat fixed top right;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.Intro{
    position: fixed;
}

.Hello {
    font-size: 5vw;
    font-weight: bold;
    color: #FFF;
    margin: 15vh 0 0 5vw;
}

.Description{
    width: 0;
    color: #fff;
    font-size: 2.5vw;
    margin: 2vh 0 0 8vw;
    white-space: nowrap;
    overflow-x: hidden;
    -ms-overflow-style: none;
    text-align: start;
    position: relative;
    z-index: -1;
}

.Bold {
    color: #CCC;
    font-weight: 900;
}

.Placeholder {
    width: 100%;
    height: 16vh;
    position: relative;
    background-color: #fff;
    z-index: 0;
}

@media only screen and (max-width: 599px) {
    .WelcomeImage, .WelcomeImageColored {
        height: 75vh;
        width: 100%;
        background-attachment: scroll;
    }
    .Intro{
        position: absolute;
        top: 3vw;
        left: 3.5vw;
        z-index: -1;
    }
    .Hello {
        margin: 2vh 0 0 .25vh;
    }
    .Description {
        margin: 1vh 0 0 .5vw;
        font-size: 3.5vw;
    }
    .Placeholder {
        height: 25vh;
    }
    .Footer p {
        font-size: 2.5vw;
    }
}