.MainNavigation {
    height: 90vh;
    background-color: #fff;
    position: relative;
    z-index: 0;
    display: flex;
    flex-flow: row;
}

.Label, .AnimateLabel {
    margin: 0;
    padding-top: 5vh;
    color: var(--main-color);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    font-size: 5vw;
}

.NavigationOptions {
    display: flex;
    flex-flow: column;
    width: 60vw;
    margin: 0 auto;
}

.ButtonDiv, .NavButtonDiv {
    margin: 5vh auto;
    width: 60vw;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FFF;
}

.NavButtonDiv {
     margin-top: 0;
 }

.Button {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    cursor: pointer;
    font: inherit;
    padding: 1.5vh .5vw;
    font-size: 1.5vw;
    margin-bottom: 3vh;
    vertical-align: middle;
    outline: none;
}

.AnimateLabel {
    animation-name: changeLabel;
    animation-duration: 1.2s;
}

@keyframes changeLabel {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1367px) {
    .Button {
        font-size: 2vw;
    }
    .Footer p {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 599px) {
    .MainNavigation {
        height: 85vh;
    }
    .HowCanIHelp {
        padding-top: 10vh;
        font-size: 6.5vw;
    }
    .Button {
        font-size: 4vw;
    }
    .Footer p {
        font-size: 2.5vw;
    }
}