.MainNavigation {
    border: 2px solid red;
    height: 90vh;
    background-color: #fff;
    position: relative;
    z-index: 0;
}

.Label, .AnimateLabel {
    margin: 0 auto;
    padding: 5vh;
    width: 80%;
    color: #779ecb;
    text-align: center;
    font-size: 5vw;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.NavigationContent {
    display: flex;
    flex-flow: row;
    justify-content: start;
}

.NavigationOptions {
    display: flex;
    flex-flow: column;
    width: 65vw;
    margin: 0 auto;
}

.ButtonDiv, .NavButtonDiv {
    margin: 0 auto;
    width: 65vw;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FFF;
}

.NavButtonDiv {
     margin-top: 0;
 }

.AnimateLabel {
    animation-name: changeLabel;
    animation-duration: 1.2s;
}

@keyframes changeLabel {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1367px) {
    .Footer p {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 599px) {
    .MainNavigation {
        height: 80vh;
    }
    .Label, .AnimateLabel {
        font-size: 6.5vw;
    }
    .Footer p {
        font-size: 2.5vw;
    }
    .NavButtonDiv{
        width: 80vw;
    }
}