@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

:root {
  --main-color: #779ecb;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif;
    background-color: #FFF;
    z-index: 0;
}
