.SocialIcons {
    width: 5vw;
    display: flex;
    flex-flow: column;
    padding-top: 25vh;
}

.SocialIcon {
    width: 3vw;
    margin: 1vh 0 1vh 2vw;
    z-index: 2;
}

@media only screen and (max-width: 1367px) {
    .SocialIcon {
        width: 5vw;
    }
}

@media only screen and (max-width: 499px) {
    .SocialIcon {
        width: 7vw;
    }
}