.SocialIcons {
    width: 5vw;
    display: flex;
    flex-flow: column;
}
.SocialIcon {
    margin: 1vh 0 1vh 2vw;
    z-index: 2;
}

@media only screen and (max-width: 1023px) {
    .SocialIcon {
        margin: 2% 1% 10% 1%;
    }
}

@media only screen and (max-width: 499px) {
    .SocialIcon {
        margin: 2% 1% 10% 1%;
    }
}