.SocialIcons {
    width: 5vw;
    display: flex;
    flex-flow: column;
    padding-top: 15vh;
}

.SocialIcon {
    width: 3vw;
    margin: 1vh 0 1vh 2vw;
    z-index: 2;
}

@media only screen and (max-width: 1367px) {
    .SocialIcons {
        width: 10vw;
    }
    .SocialIcon {
        width: 4.5vw;
    }
}

@media only screen and (max-width: 499px) {
    .SocialIcons {
        padding-top: 20vh;
        width: 12vw;
    }
    .SocialIcon {
        width: 10vw;
    }
}