.Links {
    width: 100%;
    text-align: center;
}
.SocialIcon {
    margin: 8% 1% 0 1%;
}
.Microsoft, .Oracle, .Comptia {
    margin: 10px;
}
.Microsoft, .Oracle {
    width: 7vw;
}
.Comptia {
    width: 8vw;
}

@media only screen and (max-width: 1023px) {
    .SocialIcon {
        margin: 2% 1% 10% 1%;
    }
    .Microsoft, .Comptia {
        margin: 2px;
    }
    .Microsoft {
        width: 14vw;
    }
    .Comptia {
        width: 15vw;
    }
}

@media only screen and (max-width: 499px) {
    .SocialIcon {
        margin: 2% 1% 10% 1%;
    }
    .Microsoft, .Comptia {
        margin: 2px;
    }
    .Microsoft {
        width: 14vw;
    }
    .Comptia {
        width: 15vw;
    }
}